<div class="terms-title">
  Terms and conditions
</div>
<div class="terms-subtitle">
    Conditions of Use      
</div>

<div class="terms-content">
    Welcome to our online store! MYCOMPANY and its associates provide their services to you subject to the following conditions. If you visit or shop within this website, you accept these conditions. Please read them carefully.  
</div>

<div class="terms-subtitle">
    Privacy 
 </div>

<div class="terms-content">
    Please review our Privacy Notice, which also governs your visit to our website, to understand our practices.
    
</div>

<div class="terms-subtitle">
    Electronic communications
 </div>

<div class="terms-content">
    When you visit MYCOMPANY or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.            
</div>


<div class="terms-subtitle">
    Copyright
</div>

<div class="terms-content">
All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of MYCOMPANY or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of MYCOMPANY, with copyright authorship for this collection by MYCOMPANY, and protected by international copyright laws.
</div>


<div class="terms-subtitle">
    Trade Marks
</div>

<div class="terms-content">
    MYCOMPANYs trademarks and trade dress may not be used in connection with any product or service that is not MYCOMPANYs, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits MYCOMPANY. All other trademarks not owned by MYCOMPANY or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by MYCOMPANY or its subsidiaries.  
</div>

<div class="terms-subtitle">
    Licens and site access
</div>

<div class="terms-content">
    MYCOMPANY grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of MYCOMPANY. This license does not include any resale or commercial use of this site or its contents: any collection and use of any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of MYCOMPANY. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of MYCOMPANY and our associates without express written consent. You may not use any meta tags or any other "hidden text" utilizing MYCOMPANYs name or trademarks without the express written consent of MYCOMPANY. Any unauthorized use terminates the permission or license granted by MYCOMPANY. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of MYCOMPANY so long as the link does not portray MYCOMPANY, its associates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any MYCOMPANY logo or other proprietary graphic or trademark as part of the link without express written permission.
</div>


<div class="terms-subtitle">
    Your membership account
</div>

<div class="terms-content">
    If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. If you are under 18, you may use our website only with involvement of a parent or guardian. MYCOMPANY and its associates reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion.
</div>


<div class="terms-subtitle">
    Review, email and other content
</div>

<div class="terms-content">
    Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. MYCOMPANY reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content. If you do post content or submit material, and unless we indicate otherwise, you grant MYCOMPANY and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant MYCOMPANY and its associates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post: that the content is accurate: that use of the content you supply does not violate this policy and will not cause injury to any person or entity: and that you will indemnify MYCOMPANY or its associates for all claims resulting from content you supply. MYCOMPANY has the right but not the obligation to monitor and edit or remove any activity or content. MYCOMPANY takes no responsibility and assumes no liability for any content posted by you or any third party.  
  </div>


<div class="terms-subtitle">
    Risks of loss
</div>

<div class="terms-content">
    All items purchased from MYCOMPANY are made pursuant to a shipment contract. This basically means that the risk of loss and title for such items pass to you upon our delivery to the carrier.
</div>



<div class="terms-subtitle">
    Product descriptions
</div>

<div class="terms-content">
    MYCOMPANY and its associates attempt to be as accurate as possible. However, MYCOMPANY does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free. If a product offered by MYCOMPANY itself is not as described, your sole remedy is to return it in unused condition. 
</div>

<a href="."><button mat-raised-button color="primary">Yes, I accept terms and condtions</button></a>  
