

.terms-title{
    align-content: center;
    align-items: center;
    margin:10px;
    font-size: 16px;
    font-weight: bold;
}

.terms-subtitle{
    margin:10px;
    font-size: 14px;
    font-weight: bold;
}

.terms-content{
    align:center;
    margin:10px;
}

.button{
    background-color: #004e44;
}

.content-button{
    color:darkblue;
}