
.product-list{
  display: flex;
  /* margin: px;; */
}
.product-card {
  /* margin: 50px 50px 80px 50px; */
  margin: 20px;
  width: 30%;
  display: inline-block;
  /* flex: auto; */
  font-family: sans-serif;
  background-color: #f7f7f7
}


.product-header {
  padding: 10px;
}

.product-image{
  width: 100%;
  height: 75%;
  max-width: 100%;
  max-height: 100%;
}

img{
  width: 100%;
  height: 100%;
}


.product-category{
  font-size: 20px;
  font-style: italic;
  bottom: 0;
  left: 0;
  text-align: right;
  margin: 10px;
}
.product-name{

  margin: 5px 0;
  font-size: 18px;
}


.products-list{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  margin-bottom: 50px;
}

.details-button{
  margin-top: 20px;
  bottom: 0;
  right: 0;
}
.products-specification{
  width:45%;
  margin-left: 15px;
  text-align: left;
}
mat-grid-tile {
  background: lightblue;
}