<div class="products-list">
  <mat-card class="product-card" *ngFor="let product of products; let i = index">
        <div class="product-name">{{product.name}}</div>
        <div class="product-category">{{product.category}}</div>
      <div class="product-image">
           <!-- <img *ngIf="product.image === ''" mat-card-sm-img src="/assets/images/gym.jpg"> -->
           <img  src="{{ _baseURL + '/uploads/product/' + product.image}}" alt="ProductImage" (click)="openDialog(i)"> 
  
      </div>
    <!-- <button mat-fab color="primary" (click)="openDialog(i)">Details</button>  -->
  </mat-card>
</div>
