<div id="background">


</div>

<div class="error-comp">
  <mat-card class="error-card">
    <div class="404-message">
      <img src="https://dh2wg6yal4wru.cloudfront.net/notfound.png" />
      <h1>404 We're sorry!</h1>
      <p>
        Maybe the page you are looking for has been removed, or you typed in the wrong URL
      </p>
      <p>
        <a href="#">&raquo; Go back to homepage</a>
      </p>
    </div>
  </mat-card>
</div>
<!-- <div class="404-message">
  <img src="https://dh2wg6yal4wru.cloudfront.net/notfound.png" />
  <h1>404 We're sorry!</h1>
  <p>
    Maybe the page you are looking for has been removed, or you typed in the wrong URL
  </p>
  <p>
    <a href="#">&raquo; Go back to homepage</a>
  </p>

</div> -->