/* Put your css in here */

p{
    margin-top:45px;
}

#background {
    height: 50%;
    background-color: rgb(32, 112, 58)
}

/* .error-comp{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */


:host{
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #d5f1dd;
    flex: 1 0 auto;   
}

.error-card{
    margin: auto;
    width: 30%;
    height: 60%;
}