mat-card-actions{
    margin: auto;
    align-items: center;
    display: flex;
}

.title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Roboto;
    margin: 20px;
    letter-spacing: 2px;
}

.fields-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-class {
    width: 80%;
}

#logo {
    margin: 10px;
}

mat-checkbox{
    float: left;
}
#create-button{
    margin: auto;
    background-color:#00695c;
    width: 100%;
    font-size: 100%;
    height: 100%; 
    color: white;
}

#login-comp{
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.course-card{
    margin: auto;
    width: 30%;
    height: 50%;
}
mat-form-field{
    width: 90%;
}

mat-error{
    font-size: 20%;
}
required{
    color:red;
}

.course-header{
    margin:auto;
    font-style: oblique;
}