<div class="title">Schedule course</div>
<mat-card class="course-card">
        <img id="logo" src="/assets/images/app-logo.svg" class="app-logo">
        <mat-card-header>
                <div class="course-header">For creating a course, please complete the fields mandatory
                </div>
        </mat-card-header>
        <mat-card-content>
                <form class="fields-form">
                        <mat-form-field class="form-class" color="warn">
                                <input matInput #date [matDatepicker]="picker" name="date" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="form-class">
                                <input matInput #capacity type="number" placeholder="Capacity" required>
                        </mat-form-field>
                        <mat-form-field class="form-class">
                                <input matInput #name placeholder="Course name" required>
                        </mat-form-field>
                        <input type="file" class="form-class" (change)="onChange($event)">
                </form>

        </mat-card-content>
        <mat-card-actions>
                <button mat-button align="center" id="create-button" (click)='createCourse(date.value,capacity.value,name.value);
                        date.value="";capacity.value="";name.value=""'>Create</button>
        </mat-card-actions>
</mat-card>