<mat-card class="live-number-card">
  <mat-card-header>
    <div mat-card-avatar class="live-number-image"></div>
    <mat-card-title>Live number of people in gym</mat-card-title>
  </mat-card-header>
  <mat-card-content class="counter-div-content">
    <!-- <h1 class="counter" countUp [startVal]="0" [endVal]="55" [duration]="6" [countUp]="{useEasing: true }">0</h1> -->
    <h1>{{nrOfUsersInGym}}</h1>
  </mat-card-content>
</mat-card>