<!-- 
    Main content
  -->
<div class="content-container">
  <mat-toolbar color="primary" class="navigationbar">
    <a routerLink="/main">
      <span class="glyphicon glyphicon-home"></span> Home</a>
    <span class="example-fill-remaining-space"></span>

    <a routerLink="/main/courses">
      <span class="glyphicon glyphicon-book"></span> Courses</a>
    <span class="example-fill-remaining-space"></span>

    <a routerLink="/main/create-course" *ngIf="_appService.isTrainer() || _appService.isAdmin()">
      <span class="glyphicon glyphicon-book" *ngIf="_appService.isTrainer() || _appService.isAdmin()"></span> Create Course</a>
    <span *ngIf="_appService.isTrainer() || _appService.isAdmin()" class="example-fill-remaining-space"></span>

    <a routerLink="/main/products">
      <span class="glyphicon glyphicon-gift"></span> Products</a>
  </mat-toolbar>
  <!-- Carousel
    ================================================== -->
  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" *ngIf="isMainPage()">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src="/assets/images/gym1.jpg" alt="Gym1">
              <img src="/assets/images/gym1.jpg" alt="Gym1">
              <img src="/assets/images/gym1.jpg" alt="Gym1">
          </div>
          <div class="item">
              <img src="/assets/images/gym2.jpg" alt="Gym2">
          </div>
          <div class="item">
              <img src="/assets/images/gym3.jpg" alt="Gym3">
          
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
       -->
  <!-- /.carousel -->

  <div class="main - page content" *ngIf="isMainPage()">




    <app-counter></app-counter>

    <div class="news-container">
      <app-news></app-news>

    </div>



  </div>

  <!-- <span>Live number of users at gym:</span  ><h1 countUp [startVal]="0" [endVal]="usersInGym" [duration]="6" [countUp]="{useEasing: true }">0</h1> -->


  <router-outlet></router-outlet>
</div>