.outer-container {
  padding: 0!important;
  margin:0!important;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;

}

@keyframes sidenav-logo-animation {
    100% {transform: rotate(720deg)}
}

.inner-activation {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin  : auto;
    width: 10%;
    -webkit-animation: sidenav-logo-animation 4s infinite; 
    animation: sidenav-logo-animation 4s infinite;
}

.user-icon {
    height: 100%;    
}

.mat-sidenav {
    width: 15%;
}

.mat-list{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}
.separator {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height:1px;
    background-color: #dddddd
}

.options {
    margin-top: 15px;
    margin-bottom: 10px;
}

.option {
    width: 100%;
    font-family: Regular;
    font-size: larger;
    font-weight: bold;
}

.settings {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #b3b3b3 
}

.setting {
    width: 100%;
}

.content-container {
    padding-left: 30px;
    padding-right: 30px;
   padding-top:0px;
   padding-bottom: 100px;
   

}
.navigationbar{
    width:100%;
    height:60px;
    background-color: #e87100;
}
a {
    color: #FFF;
  }
  a:hover {
     color:#00695c
  }

  .news-container{
    padding-bottom: 100px;
  }


.example-fill-remaining-space {
    flex: 1 1 auto;
  }
  /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
  }
  
  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar .container {
    width: auto;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    height: 200px;
    margin-bottom: 60px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 200px;
    background-color: #00695c;;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 300px;
  
   
    height: 200px;
    width:600px;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }
  
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 120px;
    }
  }