<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      

    </div>
    <div class="brand-centered">
        <a class="navbar-brand" ><img style="margin-right: 10px; padding: 100; height: auto;width: auto; max-width: 100px; max-height: 100px;margin-top: 6px;margin-bottom:6px" src="assets/images/app-logo.svg" alt="Dispute Bills">GymApp Fe
        </a>
        </div>
    
    <ul class="nav navbar-nav navbar-right">
       
           
      <li *ngIf="isLoggedOk==false">
        <a routerLink="/register">
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      
      <li *ngIf="isLoggedOk==true">
          <div class="user-logo-container">
          <img *ngIf="!_user?.picture" class="user-logo" src="/assets/images/unknown-user.png" (click)="sidenavRef.open()">
          <img *ngIf="_user?.picture" class="user-logo" [src]=" _baseURL+ '/uploads/user/' + _user?.picture | safeUrl" (click)="sidenavRef.open()">
      
        </div>
      </li>
     
      <li class="fullName" *ngIf="isLoggedOk==true">

            {{_user?.fullName}} 
      </li>
      
      <!-- <div class="inner-activation" *ngIf="isLoggedOk==true">
          <button mat-icon-button mat-accent aria-hidden="true"  color="primary" (click)="sidenavRef.open()">
          </button>            <img mat-mini-fab class="user-icon" src="/assets/images/dumbbell.svg" style="padding: 100; height: auto;width: auto; max-width: 38px; max-height: 38px">

        </div> 
   -->
     

    
      
    
        <li *ngIf="isLoggedOk==true">
         <button type="button" class="btn btn-warning  btn-sm "  (click)='logout()'  style="margin-right: 15px; margin-top:16px;">Logout </button>
       </li>  
      
       <li *ngIf="isLoggedOk==false">
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      
        
    </ul>
  </div>
</nav>