    <mat-form-field>
      <input matInput placeholder="Email" maxlength="50" [formControl]="emailFormControl" [(ngModel)]="email">
      <mat-icon matPrefix> email </mat-icon>
      <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('pattern')">
        Please enter a valid email address
      </mat-error>

    </mat-form-field>