<div class="user-container">
  <div class="user-logo-container">
    <button id="settings-button" mat-mini-fab mat-accent aria-hidden="true" color="primary" (click)="openDialog()">
      <mat-icon>
        settings
      </mat-icon>
    </button>
    <img *ngIf="!_user?.image" class="user-logo" src="/assets/images/unknown-user.png">
    <img *ngIf="_user?.image" class="user-logo" [src]=" _baseURL+ '/uploads/user/' + _user?.image | safeUrl">
  </div>

  <div class="details-container">
    Hi, {{_user?.fullName}}
  </div>
  <div class="details-container email">
    {{_user?.email}}
  </div>
</div>