.user-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Noto;
    font-weight: bold;
    color: #797979;
    width: 100%;
    justify-content: center;
    margin:5px;
}

.user-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.user-logo {
    width: 125px;
    height: 125px;
    border-radius: 85px;
    object-fit: cover;
    margin: auto;
}

.details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.email {
    font-style: italic;
    color: #747474;
    font-size: smaller;
    
}

#settings-button {
    background-color: #727272;
    margin-right: -25px;
}
