<mat-card class="register-card">
        <img src="/assets/images/app-logo.svg" class="app-logo">
        <!-- <div class="register-header">
                Register
        </div> -->
        <form class="form-container">
                <mat-form-field class="form-field white-placeholder" color="warn">
                        <input matInput #email [(ngModel)]="_email" name="email" placeholder="Email" maxlength="50">
                        <mat-icon matPrefix> email </mat-icon>
                </mat-form-field>
                <mat-form-field class="form-field" color="warn">
                        <input matInput #password [(ngModel)]="_password" name="password" type="password" placeholder="Password">
                        <mat-icon matPrefix> lock </mat-icon>

                </mat-form-field>
                <mat-form-field class="form-field" color="warn">
                        <input matInput #fullName [(ngModel)]="_fullName" name="fullName" placeholder="Full Name (e.g. Doe John)">
                        <mat-icon matPrefix> person </mat-icon>
                </mat-form-field>
                <input type="file" class="form-field " (change)="onChange($event)">
        </form>
        <button mat-raised-button class="register-button" (click)="register()">
                Register
        </button>
</mat-card>