.courses-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    /* justify-content: space-around; */
}

.filter-courses{
    margin: 10px;
}

.radio-button{
    margin-left: 10px;
}

.course-card {
    margin: 20px;
    height: 500px !important;
    width: 30%;
    display: inline-block;
    /* flex: auto; */
    font-family: sans-serif;
    background-color: #f7f7f7
}

.mat-card {
    height: auto;
    /* max-height: 40%; */
    /* height: 90vh; */
}
.course-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: auto;
    font-size: x-large;
    font-stretch: expanded;
    font-family: Roboto;
    color: #807f7f;
    height: 5%;
    font-weight: bold;
    /* margin: 20px; */
}

.course-info-box {
    display: flex;
    flex-direction: row;
    /* margin: 20px; */
    height: 10%;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}

.course-img {
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
}

.course-content {
    padding: 20px;
    height: 10%;
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
}



.book-icon {
    height: 20px;
    width: 20px;
    margin: 5px;
}

.book-date-box {
    display: flex;
    flex: 1;
    margin:10px;
    flex-direction: column;
}

.trainer-box {
    display: flex;
    flex-direction: row;
    margin:10px;
    align-content: center;
}

.nothing-container {
    display: flex;
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
    color: #928f8f;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.nothing-logo {
    opacity: 0.8;
    justify-content: center;
    margin: 20px;
    height: 30%;
    width: 30%;
}

.card-actions{
    margin-bottom: 20px;
}
