<div class="filter-courses">
  <span>Filter courses by: </span>
  <mat-radio-group >

    <mat-radio-button value="1" [checked]="true" class="radio-button" (change) = "all()" >All</mat-radio-button>
    <mat-radio-button value="2" class="radio-button" (change) = "tomorrow()">Today</mat-radio-button>
    <mat-radio-button value="3" class="radio-button" (change) = "thisWeek()">This Week</mat-radio-button>
  </mat-radio-group>

</div>
<div class="courses-list">
  <mat-card class="course-card" *ngFor="let course of courses">
    <mat-card-header class="course-header">
      <div> {{course.name}}</div>
    </mat-card-header>
    <mat-card-subtitle>
      <div class="course-info-box">
        <div class="book-date-box">
          When?
          <br>
          <div>
            <img mat-mini-fab class="book-icon" src="/assets/images/date.svg"> {{course.eventDate * 1000 | date}}
          </div>
        </div>
        <div class="trainer-box">
          <img *ngIf="!course.trainer.picture" mat-card-avatar src="/assets/images/unknown-user.png">
          <img *ngIf="course.trainer.picture" mat-card-avatar [src]="_baseURL + '/uploads/user/' + course.trainer.picture">
          <mat-card-subtitle>with
            <i>{{course.trainer.fullName}}</i>
          </mat-card-subtitle>
        </div>
      </div>
    </mat-card-subtitle>

    <img *ngIf="course.image === ''" mat-card-sm-img src="/assets/images/gym.jpg" class="course-img">
    <img *ngIf="course.image !== ''" mat-card-sm-img src="{{ _baseURL + '/uploads/course/' + course.image}}" class="course-img">

    <mat-card-content class="course-content">
      This course has {{course.capacity - course.registeredUsers}} free space.
    </mat-card-content>


    <mat-card-actions class="card-actions">
      <button *ngIf="course.amRegistered !== 1" mat-raised-button color="primary" (click)="subscribeToCourse(course.id)">Subscribe</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="courses?.length == 0" class="nothing-container">
  <img class="nothing-logo" src="/assets/images/angry.svg">
  <div>
    <p> Ups, looks like I have no courses... I should clearly go and check some!</p>
  </div>
</div>