<mat-form-field>
  <input matInput placeholder="Password" type="Password" [formControl]="passwordFormControl"  [(ngModel)]="password">
  <mat-icon matPrefix> lock </mat-icon>
  <mat-error ng-hide="passwordFormControl.hasError('minLength')" >
    Password should have at last 5 characters!
  </mat-error>
</mat-form-field>