<mat-card *ngFor="let news of newsList" class="news-card">
  <mat-card-header>
    <div mat-card-avatar class="news-header-image"></div>
    <mat-card-title>{{news.title}}</mat-card-title>
    <mat-card-subtitle>News</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{news.text}}
    </p>
  </mat-card-content>
</mat-card>