<mat-sidenav-container class="outer-container">
        <mat-sidenav mode="over" position="end" #sidenav class="inner-container">
          <app-user></app-user>
          <div class="separator"></div>
          <div class="options">
            <mat-nav-list>
              <button mat-button class="option" (click)="openSubscribedCoursesDialog()">Subscribed courses</button>
              <button mat-button class="option" (click)="openOwnedCoursesDialog()">Owned courses</button>
            </mat-nav-list>
          </div>
          <div class="separator"></div>
      
          <mat-list class="settings">
            <button mat-button class="setting">Settings</button>
            <button mat-button class="setting">Security and Privacy</button>
            <button mat-button class="setting" (click)="openTermsConditionsDialog()">Terms and Conditions</button>
            <button mat-button class="setting">
              <mat-icon>info</mat-icon> About</button>
          </mat-list>
          
        </mat-sidenav>
        <div class="salam">
        <navbar [sidenavRef]="sidenav"></navbar>
        
    

    <router-outlet></router-outlet>
    <!-- <app-main>
                </app-main> -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted" style="display: inline">This site was created by Clanul Cosasilor</p>
        <a href="https://www.facebook.com/ClanulCosasilor/" class="text-muted" style="display: inline; float: right;">
          <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Subscribe on facebook </a>

      </div>
    </footer>
  </div>
</mat-sidenav-container>