/*
:host{  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
.outer-container {
    padding: 0!important;
    margin:0!important;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    // cursor: url(/assets/images/dumbbell2.jpg), 25 15, auto; 
    cursor:url("/assets/images/dumbbell4_opt.png") 25 15, auto;
}
  
  @keyframes sidenav-logo-animation {
      100% {transform: rotate(720deg)}
  }
  
  .inner-activation {
      display: flex;
      justify-content: center;
      z-index: 1;
      margin  : auto;
      width: 10%;
      -webkit-animation: sidenav-logo-animation 4s infinite; 
      animation: sidenav-logo-animation 4s infinite;
  }
  
  .user-icon {
      height: 100%;    
  }
  
  .mat-sidenav {
      width: 20%;
  }
  
  .mat-list{
      display: flex;
      flex-direction: column;
      padding: 5px 0px 5px 0px;
  }
  .separator {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height:1px;
      background-color: #dddddd
  }
  
  .options {
      margin-top: 15px;
      margin-bottom: 10px;
  }
  
  .option {
      width: 100%;
      font-family: Regular;
      font-size: larger;
      font-weight: bold;
  }
  
  .settings {
      margin-top: 25px;
      margin-bottom: 10px;
      color: #b3b3b3 
  }
  
  .setting {
      width: 100%;
  }
  
  .salam{
      padding-top:10px;
      position: relative;
      min-height: 100%;
      margin-bottom: 0px;
  }


  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  
  }
  