.centered{
   /* position: fixed;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
    width: 60%;
    height: 100%;
    /* padding:10px; */
}

.dialog-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;

}

.confirm-button {
    padding: 15px;
    margin:auto;
    width: 50%;
}

.mat-form-field {
    width: 100%;
}
