<div class="centered">
  <div class="dialog-logo">
    <img mat-card-md-image src="/assets/images/repairing.svg">
  </div>
  <p>Hey {{_name}}, here you can modify your account</p>
  <div class="centered">
    <form #updateForm="ngForm" (ngSubmit)="updateProfile(updateForm)" novalidate>
      <mat-form-field>  
        <input name="name" [(ngModel)]="_newName" #ctrl="ngModel" matInput color="accent" placeholder="New name">
      </mat-form-field>
      <mat-form-field>
        <input name="oldPassword" [(ngModel)]="_oldPassword" matInput type="password" #oldPassword="ngModel" color="accent" placeholder="Old password">
      </mat-form-field>
      <mat-form-field>
        <input name="newPassword" [(ngModel)]="_newPassword" matInput type="password" #newPassword="ngModel" color="accent" placeholder="New password">
      </mat-form-field>
      <input type="file" (change)="onChange($event)">
      <div class="confirm-button">
        <button mat-raised-button color="primary">Confirm</button>
      </div>
    </form>
  </div>
</div>