
// #background{
//     // position: absolute;
//     height: 50%;
//     // background: url("/assets/images/bg_login.jpg");
//     // background-size:100%;
//     background-color: rgb(32, 112, 58)
// }

:host{
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #d5f1dd;
    flex: 1 0 auto;
}

#login-comp{
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-button {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    background-color: #004e44
}

.register-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    font-size: 2em;
    font-stretch: ultra-expanded;
}


.login-card{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color: #00695c;
}

/deep/ .mat-form-field-placeholder {
    color: rgba(255, 255, 255, 0.637);
    font-family: Montserrat !important;
    /* font-style: italic !important; */
    font-weight: lighter!important; 
}

 /deep/ .mat-form-field-underline {
    background-color: #ffffff!important;
}

.form-field{
    margin: auto;
    width: 60%;
    color: white;
}
 
mat-error{
    font-size: 15px;
} 

.app-logo {
    position: relative; 
    width: 50%;
    margin:auto;
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}