<div id="background">

</div>
<div id="login-comp" [@flyInOut]='in'>
    <mat-card class="login-card">
        <img src="/assets/images/app-logo.svg" class="app-logo">
        <app-input-email #email class="form-field">
            
        </app-input-email>
        <app-input-password #password class="form-field"></app-input-password>
        <mat-checkbox color="primary" class="form-field">Remember me!</mat-checkbox>
        <button mat-button class="login-button" (click)='login(email.email,password.password)'>Sign in</button>
    </mat-card>
</div>