<!--  <footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="https://www.facebook.com/ClanulCosasilor"> <span class="glyphicon glyphicon-thumbs-up"></span>  Like on Facebook </a></p>
    

        
      </footer> -->
