<div class="centered">
  <div class="product-image">
      <img  src="{{ _baseURL + '/uploads/product/' + _image}}" alt="ProductImage"> 
    <!-- <img src="https://dummyimage.com/400x800/000/fff&text=hgjhgj" alt="Product Image"> -->
  </div>

  <div class="product-details">
    <div class="product-name">
      {{_name}}
    </div>

    <div class="product-description">
      <p class="description-title">Description</p>
      {{_description}}
    </div>
    
    <div class="product-price">
      {{_price}} EUR
    </div>
      
    <div class="product-category">
      <p class="category-title">Category</p>
      {{_category}}
    </div>
  </div>
</div>