app-product-details{
.centered{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
 }

 

.product-image{
    width: 50%;
    height: 50%;
}


.product-details{
    width:45%;
    margin-left: 15px;
    text-align: left;
}

.product-name{
    margin: 5px 0;
    font-size: 18px;
}

.product-description{
    border: 1px solid lightgray;
    width: 95%;
    word-wrap: break-word;
}

.product-price{
    font-size: 20px;    
    margin: 40px 0;
}

.product-category{
    font-size: 20px;
    font-style: italic;
    bottom: 0;
    left: 0;
    text-align: right;
}

.description-title{
    font-size: 12px;  
    font-weight: bold;
}

.category-title{
    font-size: 12px;
    font-style: normal; 
    font-weight: bold;   
}

}