/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.main-container{
    /* min-height: 800px; */
    margin-bottom: 20px;
}

body{
    margin: 0;
}
.navbar-default {
    background-color: #00695c;
    border-color: #00695c;
    
    margin-bottom: 2px;    
  }
 
  .brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
   
  }
  .brand-centered .navbar-brand {
    display: flex	;
    align-items: center;
    color: white;
 
  }
  .brand-centered .navbar-brand:hover {
    color: #e87100;
  }
  
  .navbar-default .navbar-text {
    color: #d4e800;
  }
  .navbar-default .navbar-text {
    color: #d4e800;
  }
  .navbar-default .navbar-nav > li {
    color: #d4e800;
  }
  .navbar-default .navbar-nav > li:hover {
    color: #e87100;
  }
  
  .navbar-default .navbar-nav > .fullName {
    color: white;
    margin-left:10px;
    margin-right:20px;
    margin-bottom:0px;
    margin-top:20px;
    font-size:120%;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #d4e800;
  }
  .navbar-default .navbar-nav > li > a{
    color:white;
 
    

  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #00695c;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: black;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #d4e800;
    background-color: #e82e00;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #e87100;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d4e800;
    background-color: #e87100;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #d4e800;
    background-color: #e87100;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #d4e800;
    background-color: #e87100;
  }
  .navbar-default .navbar-toggle {
    border-color: #e87100;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #e87100;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #d4e800;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #d4e800;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #d4e800;
      background-color: #e87100;
    }
  }
  
  @keyframes sidenav-logo-animation {
    100% {transform: rotate(720deg)}
}

.inner-activation {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;

   
    
   
    width: 10%;
    -webkit-animation: sidenav-logo-animation 4s infinite; 
    animation: sidenav-logo-animation 4s infinite;
}
.user-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.user-logo {
  width: 43px;
  height: 43px;
  border-radius: 85px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 60px;
  margin-right: 0px;
  object-fit: cover;
}

  
