  
@keyframes sidenav-logo-animation {
    100% {transform: rotate(720deg)}
}

.inner-activation {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin  : auto;
    width: 10%;
    -webkit-animation: sidenav-logo-animation 4s infinite; 
    animation: sidenav-logo-animation 4s infinite;
}
.user-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.user-logo {
    width: 125px;
    height: 125px;
    border-radius: 85px;
    object-fit: cover;
}
.fullName {
    justify-content: center;
    display: flex;
    align-items: center;
}
