.course-container {
    width: 90%;
    margin:auto;
    margin-bottom: 5px;
    padding: 15px;
}


.date-icon {
    width: 15%;
}

.remove-button {
    background-color: red;
}

.course-name-container, .course-date-container {
    width: 100%;
    margin: auto
}

.remove-button-container {
    padding: 10px;
}

.separator {
    height: 1px;
    width: 80%;
    margin: auto;
    background-color: #cccaca;
}

.course-content-container {
    padding:10px;
    color: #acacac;
    align-content: center;
    font-size: small;
    font-weight: lighter;
    position: relative;
}

.nothing-container {
    display: flex;
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
    color: #928f8f;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.nothing-logo {
    opacity: 0.8;
    justify-content: center;
    margin: 20px;
    height: 30%;
    width: 30%;
}