<mat-accordion>
  <mat-expansion-panel *ngFor="let course of _courses" class="course-container">
    <mat-expansion-panel-header>
        <div class="course-name-container"> {{course.name}}</div>
        <div class="course-date-container">
          <img src="/assets/images/date.svg" class="date-icon"> {{course.eventDate * 1000 | date}}
        </div>
        <div *ngIf="canUnsubscribe" class="remove-button-container">
          <button mat-mini-fab class="remove-button" (click)="unsubscribe(course.id)">
            <mat-icon> remove </mat-icon>
          </button>
        </div>
    </mat-expansion-panel-header>
    <div class="separator"></div>
    <div class="course-content-container">
      This course is held by {{course.trainer.fullName}} <br>
      Course capacity: {{course.capacity}}

    </div>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="_courses?.length === 0" class="nothing-container">
  <img class="nothing-logo" src="/assets/images/angry.svg">
  <div>
    <p> Ups, looks like I have no courses... I should clearly go and check some!</p>
  </div>
</div>